<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>fluffball - Link Shortener (TM)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{styles/ls.css}">
    <script defer th:src="@{scripts/ls.js}"></script>
</head>
<body>
    <div id="mainWindow">
        <div id="lsContainer">
            <p id="lsHeader">got links that are too long? compress them using fluffb4ll link shortener™ lmao</p>
            <form id="lsForm">
                <input type="text" placeholder="enter your link. or don't. idc." id="link" required>
                <input type="button" value="shorten your peenar" id="confirm" disabled>
            </form>
        </div>
    </div>
</body>
</html>