:root {
    --text-50: #f2f1f4;
    --text-100: #e5e3e8;
    --text-200: #cbc6d2;
    --text-300: #b1aabb;
    --text-400: #978ea4;
    --text-500: #7d718e;
    --text-600: #645b71;
    --text-700: #4b4455;
    --text-800: #322d39;
    --text-900: #19171c;
    --text-950: #0c0b0e;

    --background-50: #f2eff6;
    --background-100: #e5dfec;
    --background-200: #cbbfd9;
    --background-300: #b19fc6;
    --background-400: #967eb4;
    --background-500: #7c5ea1;
    --background-600: #634b81;
    --background-700: #4b3960;
    --background-800: #322640;
    --background-900: #191320;
    --background-950: #0c0910;

    --primary-50: #f1edf7;
    --primary-100: #e4dcef;
    --primary-200: #c9b9df;
    --primary-300: #ae95d0;
    --primary-400: #9372c0;
    --primary-500: #774fb0;
    --primary-600: #603f8d;
    --primary-700: #482f6a;
    --primary-800: #302046;
    --primary-900: #181023;
    --primary-950: #0c0812;

    --secondary-50: #f1ecf9;
    --secondary-100: #e3d8f3;
    --secondary-200: #c8b1e7;
    --secondary-300: #ac8bda;
    --secondary-400: #9064ce;
    --secondary-500: #743dc2;
    --secondary-600: #5d319b;
    --secondary-700: #462574;
    --secondary-800: #2f184e;
    --secondary-900: #170c27;
    --secondary-950: #0c0613;

    --accent-50: #f1eafb;
    --accent-100: #e3d5f6;
    --accent-200: #c6aaee;
    --accent-300: #aa80e5;
    --accent-400: #8e56dc;
    --accent-500: #712bd4;
    --accent-600: #5b23a9;
    --accent-700: #441a7f;
    --accent-800: #2d1155;
    --accent-900: #17092a;
    --accent-950: #0b0415;

    --text: #e7e5ea;
    --background: #110d16;
    --primary: #baa5d7;
    --primary-dm: #3d2859;
    --secondary: #4c287f;
    --accent: #732ed4;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98vh;
    background-color: var(--background);
}

p {
    color: var(--text);
}

a:link, a:visited {
    color: var(--text-900);
    text-decoration: none;
}
a:hover {
    color: var(--accent-300);
    text-decoration: none;
}
a:active {
    color: var(--accent-400);
    text-decoration: none;
}

#mainWindow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 50%;
}

#shortLinkCard {
    background-color: var(--primary);
    margin-top: 20px;
    padding: 5px 0 5px 15px;
    border-radius: 5px;
}
#shortLinkContainer {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#link {
    width: 85%;
    height: 3rem;
    border-radius: 15px;
    border-style: inset outset outset inset;
    border-width: 2px;
    background-color: var(--primary);
    color: var(--text-950);
    font-size: 16px;
    padding: 0 0 0 11px;
}

#lsForm {
    display: flex;
}

button {
    border-radius: 15px;
    border-style: outset inset inset outset;
    border-color: #979797;
}

#confirm {
    height: 3.375rem;
    width: 15%;
    margin-left: 10px;
    border-radius: 15px;
    border-style: outset inset inset outset;
    border-color: #979797;
    background-color: var(--primary);
    color: var(--text-950);
}
#confirm:disabled {
    background-color: var(--primary);
}
#confirm:enabled {
    background-color: var(--primary-400);
    cursor: pointer;
}

#copyButton {
    background-color: var(--primary-400);
    color: var(--text-950);
    height: 3.375rem;
    width: 6rem;
    border-color: #636363;
}

.tooltip {
    position: relative;
    display: flex;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 6px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

#copyTooltip {
    display: flex;
    margin-left: 7%;
}

#buttonContainer {
    margin-top: 2%;
    width: fit-content;
}